body, html{
    background-color: #dbdbdb;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#fs {
  width: 400px;
  height: 300px;
  position: relative;
  background: black;
  border-radius: 10px;
}

#video-player {
  width: 100%;
  height: 100%;
  object-fit: contain; /* or cover */
  display: block;
}
#video-player::-webkit-media-controls {
  display: none !important;
}
button {
    z-index: 999;
    position: absolute;
    bottom: 15px;
    left: 15px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #ffffff1c;
    outline: none;
    border: none;
}
button#exit-fullscreen {
    z-index: 999;
    position: absolute;
    bottom: 15px;
    left: 60px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #ffffff1c;

}